######################### COMMON ###############################################
# https://raw.githubusercontent.com/erdaltsksn/dockerignore/main/templates/Common.gitignore
################################################################################
# macOS
.DS_Store

# Git
.git
.gitignore
.gitattributes
.github

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
CHANGELOG.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md

# Visual Studio Code
.vscode

######################### HUGO #################################################
# https://raw.githubusercontent.com/erdaltsksn/dockerignore/main/templates/Hugo.gitignore
################################################################################
# Hugo
/public/
/resources/_gen/
