<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ .Title }}</title>
    <!-- Favicons -->
    <link href="/images/favicon.svg" rel="icon" type="image/svg+xml">
    <link href="/images/favicon.ico" rel="alternate icon">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
        integrity="sha512-ISS7cAi1PEhQ8jnbJpJZMd29NlhNj4AWYyLOSp2CE/CsHxTCu+r+t0D2yoJudVrd0/8fTVPUVDzY5Tvli75u/g=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/styles/main.css">
    <!-- RSS Links -->
    <link href="/rss.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="/rss.xml" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
</head>

<body>
    <div class="wrap">
        <header class="branding">
            <img src="/images/logo.svg" alt="{{ .Site.Title }}" class="branding-logo">

            <div class="branding-social">
                <a href="https://www.linkedin.com/in/erdaltsksn" target="_blank" class="social-link">
                    <i class="mario-blue fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/erdaltsksn" target="_blank" class="social-link">
                    <i class="mario-green fab fa-github-square"></i>
                </a>
                <a href="mailto:contact@erdaltaskesen.com" class="social-link">
                    <i class="mario-yellow fas fa-envelope-square"></i>
                </a>
                <a href="/rss.xml" class="social-link">
                    <i class="mario-red fas fa-rss-square"></i>
                </a>
            </div>
        </header>

        <nav class="primary-nav">
            <ul class="primary-nav-list">
                <li class="primary-nav-item mario-blue">
                    <a href="/" class="primary-nav-link">
                        <i class="primary-nav-icon fa-fw fas fa-home"></i>
                        <span class="primary-nav-text">Home</span>
                    </a>
                </li>
                <li class="primary-nav-item mario-yellow">
                    <a href="/blog/" class="primary-nav-link">
                        <i class="primary-nav-icon fa-fw fas fa-newspaper"></i>
                        <span class="primary-nav-text">Blog</span>
                    </a>
                </li>
                <li class="primary-nav-item mario-red">
                    <a href="/contact/" class="primary-nav-link">
                        <i class="primary-nav-icon fa-fw fas fa-envelope"></i>
                        <span class="primary-nav-text">Contact</span>
                    </a>
                </li>
            </ul>
        </nav>

        <main class="main">
            {{ block "main" . }}{{ end }}
        </main>
    </div>

    <div class="copyright">
        <span class="copyright-line">
            Copyright © 1988-{{ now.Format "2006"}} by <a href="/"><strong>{{ .Site.Title }}</strong></a>.
        </span>
        <span class="copyright-line">All Rights Reserved.</span>
    </div>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
        ym(62412403, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/62412403" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</body>

</html>
