//----------------------- BREAKPOINTS ----------------------------------------//
$s: 425px;
$m: 768px;
$l: 1024px;
$s-down: 'max-width : 424px';
$m-down: 'max-width : 767px';
$l-down: 'max-width : 1023px';
$s-up: 'min-width : 425px';
$m-up: 'min-width : 768px';
$l-up: 'min-width : 1024px';

//----------------------- LAYOUT ---------------------------------------------//
$spacer: calc(1% + 2.5px);

//----------------------- COLORS ---------------------------------------------//
$transparent: rgba(255, 255, 255, 0);
$black: #0e140e;
$white: #fff;
$grey: #eee;

$primary: #3b8bba;

$success: #1cb841;
$error: #ca3c3c;
$warning: #df7514;

// Mario colors
$mario-blue: #1ba0db;
$mario-green: #40a647;
$mario-yellow: #eec617;
$mario-red: #e02926;

//----------------------- FONTS ----------------------------------------------//
$font-family-base: // Safari for OS X and iOS (San Francisco)
                   -apple-system,
                   // Chrome < 56 for OS X (San Francisco)
                   BlinkMacSystemFont,
                   // Windows
                   'Segoe UI',
                   // Android
                   'Roboto',
                   // Ubuntu
                   'Ubuntu',
                   // Gnome
                   'Cantarell',
                   // KDE Plasma
                   'Noto Sans',
                   // Basic web fallback
                   'Helvetica Neue',
                   Arial,
                   sans-serif,
                   // macOS emoji
                   'Apple Color Emoji',
                   // Windows emoji
                   'Segoe UI Emoji',
                   'Segoe UI Symbol',
                   // Linux emoji
                   'Noto Color Emoji';

$font-family-monospace: // macOS
                        'SFMono-Regular',
                        'Menlo',
                        // Windows
                        'Consolas',
                        // Android
                        'Roboto Mono',
                        // Ubuntu
                        'Ubuntu Monospace',
                        // KDE
                        'Noto Mono',
                        'Oxygen Mono',
                        // Linux/OpenOffice fallback
                        'Liberation Mono',
                        // Fallback
                        monospace;
