@import 'variables';
@import 'base';

//----------------------- BASE -----------------------------------------------//

.mario-blue {
    color: $mario-blue;
    background: $mario-blue;
}

.mario-green {
    color: $mario-green;
    background: $mario-green;
}

.mario-yellow {
    color: $mario-yellow;
    background: $mario-yellow;
}

.mario-red {
    color: $mario-red;
    background: $mario-red;
}

body {
    background: $white url('/images/bg-pattern.png');
}

.wrap {
    margin: 0 auto;
    max-width: $l;

    background: $white;
}

.highlight {
    >pre {
        padding: .5em;
        overflow: scroll;

        background: #002b36 !important;
    }
}

//----------------------- HEADER ---------------------------------------------//

.branding {
    border-bottom: 1px solid $grey;
    padding: $spacer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: scale-color($grey, $lightness: 75);
}

.branding-logo {
    height: 40px;
}

.branding-social {
    font-size: 2.5em;
}

.social-link {
    >[class^='fa-'], >[class*=' fa-'] {
        background: none;
    }

    &:hover {
        text-decoration: none;
    }
}

//----------------------- NAVIGATION -----------------------------------------//

.primary-nav {
    @media ($l-down) {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
}

.primary-nav-list {
    margin: 0;
    padding: 0;

    display: flex;

    list-style: none;
}

.primary-nav-item {
    padding: $spacer 1%;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.primary-nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: $white;

    &:hover {
        text-decoration: none;
    }
}

.primary-nav-icon {
    font-size: 1.5em;
}

.primary-nav-text {
    font-size: .85em;
}

//----------------------- MAIN -----------------------------------------------//

.main {
    padding: 2.5%;
}

.page-title {
    border-bottom: 5px dotted $grey;

    font-family: monospace;
    font-size: 4em;
}

.copyright {
    padding: $spacer;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    text-align: center;

    @media ($l-down) {
        margin: 0 0 calc(2 * #{$spacer} + 40px); // Total height of .primary-nav
    }
}

.copyright-line {
    padding: 0 .1em;
}

//----------------------- NOT FOUND & HOME -----------------------------------//

.not-found, .profile {
    margin: 10% 0;

    text-align: center;
}

.not-found-emoji {
    font-size: 3em;
}

.profile-image {
    margin: auto;
    border: 7.5px solid $grey;
    border-radius: 50%;
    max-width: 250px;
}

.profile-info {
    margin: $spacer 0 0;
}

.profile-info-name {
    margin: 0;

    font-family: monospace;
    font-size: 4em;
    line-height: 1;
    word-spacing: -.3em;
}

.profile-info-title {
    font-size: 1.25em;
}

//----------------------- PROJECTS -------------------------------------------//

.projects {
    @media ($l-up) {
        display: flex;
        flex-wrap: wrap;
    }
}

.project {
    margin: 0 .5% $spacer;

    @media ($l-up) {
        width: 49%; // (100% / 2) - (2 * margin)
    }
}

.project-title {
    margin: 0;
}

.project-status {
    padding: $spacer;

    text-align: right;

    &.active {
        background: $success;
    }

    &.passive {
        background: $warning;
    }
}

.project-image {
    width: 100%;
}

//----------------------- BLOG -----------------------------------------------//

.tagcloud {
    border-radius: $spacer;
    padding: $spacer;

    display: flex;
    flex-wrap: wrap;

    background: $grey;
    font-weight: bold;
}

.tagcloud-tag, .tagcloud-label {
    margin: .15em .25em;
}

.badge {
    color: scale-color($primary, $lightness: 25);
}

.post {
    margin: 0 0 $spacer;
    border-bottom: 3px double $grey;
    padding: $spacer 1%;

    &:last-child {
        border-bottom: 0;
    }
}

.post-single>.page-title {
    font-size: 3em;
}

.post-title {
    margin: 0;
}

.post-created {
    margin: $spacer 0;
    padding: $spacer;
    width: 100%;

    display: inline-block;

    background: linear-gradient(to right, $grey, $transparent);
}

.pagination {
    display: flex;
}

.pagination-prev, .pagination-next {
    padding: $spacer;
    width: 100%;

    background: $grey;
    font-size: 1.5em;
}

.pagination-prev {
    color: $warning;
    background: linear-gradient(to right, $grey, $transparent);
    text-align: left;
}

.pagination-next {
    color: $success;
    background: linear-gradient(to right, $transparent, $grey);
    text-align: right;
}

@media ($s-down) {
    .pagination-icon {
        font-size: 2em;
    }

    .pagination-text {
        display: block;
    }
}

//----------------------- CONTACT --------------------------------------------//

.contact {
    padding: 0 2.5%;
}
