@import 'variables';
@import 'base';

//----------------------- BASE -----------------------------------------------//

.mario-blue {
    color: $mario-blue;
    background: $mario-blue;
}

.mario-green {
    color: $mario-green;
    background: $mario-green;
}

.mario-yellow {
    color: $mario-yellow;
    background: $mario-yellow;
}

.mario-red {
    color: $mario-red;
    background: $mario-red;
}

body {
    background: $white url('/images/bg-pattern.png');
}

.wrap {
    max-width: $l;
    margin: 0 auto;

    background: $white;
}

.highlight {
    >pre {
        overflow: scroll;

        padding: .5em;

        background: #002b36 !important;
    }
}

//----------------------- HEADER ---------------------------------------------//

.branding {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: $spacer;

    border-bottom: 1px solid $grey;
    background: scale-color($grey, $lightness: 75);
}

.branding-logo {
    height: 40px;
}

.branding-social {
    font-size: 2.5em;
}

.social-link {
    >[class^='fa-'], >[class*=' fa-'] {
        background: none;
    }

    &:hover {
        text-decoration: none;
    }
}

//----------------------- NAVIGATION -----------------------------------------//

.primary-nav {
    @media ($l-down) {
        position: fixed;
        z-index: 1;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.primary-nav-list {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
}

.primary-nav-item {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;

    padding: $spacer 1%;
}

.primary-nav-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    color: $white;

    &:hover {
        text-decoration: none;
    }
}

.primary-nav-icon {
    padding-bottom: 0.1em;

    font-size: 1.5em;
}

.primary-nav-text {
    font-size: .85em;
}

//----------------------- MAIN -----------------------------------------------//

.main {
    padding: 2.5%;
}

.page-title {
    border-bottom: 5px dotted $grey;

    font-family: monospace;
    font-size: 4em;
}

.copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: $spacer;

    text-align: center;

    @media ($l-down) {
        margin: 0 0 calc(2 * #{$spacer} + 40px); // Total height of .primary-nav
    }
}

.copyright-line {
    padding: 0 .1em;
}

//----------------------- NOT FOUND & HOME -----------------------------------//

.not-found, .profile {
    margin: 10% 0;

    text-align: center;
}

.not-found-emoji {
    font-size: 3em;
}

.profile-image {
    max-width: 250px;
    margin: auto;

    border: 7.5px solid $grey;
    border-radius: 50%;
}

.profile-info {
    margin: $spacer 0 0;
}

.profile-info-name {
    margin: 0;

    word-spacing: -.3em;

    font-family: monospace;
    font-size: 4em;
    line-height: 1;
}

.profile-info-title {
    font-size: 1.25em;
}

//----------------------- BLOG -----------------------------------------------//

.tagcloud {
    display: flex;
    flex-wrap: wrap;

    padding: $spacer;

    border-radius: $spacer;
    background: $grey;

    font-weight: bold;
}

.tagcloud-tag, .tagcloud-label {
    margin: .15em .25em;
}

.badge {
    color: scale-color($primary, $lightness: 25);
}

.post {
    margin: 0 0 $spacer;
    padding: $spacer 1%;

    border-bottom: 3px double $grey;

    &:last-child {
        border-bottom: 0;
    }
}

.post-single>.page-title {
    font-size: 3em;
}

.post-title {
    margin: 0;
}

.post-created {
    display: inline-block;

    width: 100%;
    margin: $spacer 0;
    padding: $spacer;

    background: linear-gradient(to right, $grey, $transparent);
}

.pagination {
    display: flex;
}

.pagination-prev, .pagination-next {
    width: 100%;
    padding: $spacer;

    background: $grey;

    font-size: 1.5em;
}

.pagination-prev {
    text-align: left;

    color: $warning;
    background: linear-gradient(to right, $grey, $transparent);
}

.pagination-next {
    text-align: right;

    color: $success;
    background: linear-gradient(to right, $transparent, $grey);
}

@media ($s-down) {
    .pagination-icon {
        font-size: 2em;
    }

    .pagination-text {
        display: block;
    }
}

//----------------------- CONTACT --------------------------------------------//

.contact {
    padding: 0 2.5%;
}
