{{ if or .Paginator.HasPrev .Paginator.HasNext }}
<aside class="pagination">
    {{ if .Paginator.HasPrev }}
    <a href="{{ .Paginator.Prev.URL }}" rel="prev" class="pagination-prev">
        &#8592;
        <span class="pagination-text">Previous Page</span>
    </a>
    {{ end }}
    {{ if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}" rel="next" class="pagination-next">
        &#8594;
        <span class="pagination-text">Next Page</span>
    </a>
    {{ end }}
</aside>
{{ end }}
